{% extends 'main/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>{{request.user|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                {% if customer_count == 0 %}
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Add Profile</a></li>
                {% else %}
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Add Profile</a></li>
                {% endif %}
                <!-- <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li> -->
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1">
            <div class="row">
                {% if customer_count == 0 %}
                <div class="col-sm-12">
                    <div class="card">
                        <span><strong><h1> There is currently no delivery address</h1></strong></span>
                    </div>
                </div>
                {% else %}
                
                    {% for ad in add %}
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h3>Address: {{forloop.counter}}</h3>
                                <p>Name: {{ad.name}}</p>
                                <p>Address: {{ad.address}}</p>
                                <p>State: {{ad.state}}</p>
                                <a href="#" class="remove-address btn btn-primary" id="{{ad.id}}">Remove Address</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
